// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$resources-color: #3bb392;
$fairification-color: #e31a46;
$knowledge-color: #fecf00;
